<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jayp.bge.playboikotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.PlayboiKotlin">
        <activity
            android:name=".josh.fragments.JoshFragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".robbie.fragments.RobbieFragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".zeb.fragments.ZebFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".dan.fragments.DanFragmentsActivity"
            android:exported="true" />
        <activity
            android:name=".zeb.ZebLoginActivity"
            android:exported="false" />
        <activity
            android:name=".dan.DanActivity"
            android:exported="true" />
        <activity
            android:name=".josh.JoshActivity"
            android:exported="false" />
        <activity
            android:name=".robbie.RobTivity"
            android:exported="false" />
        <activity
            android:name=".zeb.ZebActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>